.universal-block {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .universal-block{
    float: left;
  }
  .block-12 {
    width: 100%;
  }
  .block-11 {
    width: 91.66666667%;
  }
  .block-10 {
    width: 83.33333333%;
  }
  .block-9 {
    width: 75%;
  }
  .block-8 {
    width: 66.66666667%;
  }
  .block-7 {
    width: 58.33333333%;
  }
  .block-6 {
    width: 50%;
  }
  .block-5 {
    width: 41.66666667%;
  }
  .block-4 {
    width: 33.33333333%;
  }
  .block-3 {
    width: 25%;
  }
  .block-2 {
    width: 16.66666667%;
  }
  .block-1 {
    width: 8.33333333%;
  }
}

form-box .radio,
.form-box .checkbox,
.form-box .radio-inline,
.form-box .checkbox-inline {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-box .radio,
.form-box .checkbox {
  min-height: 27px;
}
.form-box .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

.form-box .box-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }

.form-box .form-group:before,
.form-box .form-group:after {
  display: table;
  content: " ";
  clear: both;
}
